<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>UICollectionViewItemSelectDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2977482B1EF9113600B582CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>297748441EF9113600B582CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2977484F1EF9113700B582CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
