<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>icon</key>
		<string>strawberry</string>
		<key>status</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>pineapple</string>
		<key>status</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>apple</string>
		<key>status</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>beer</string>
		<key>status</key>
		<true/>
	</dict>
	<dict>
		<key>icon</key>
		<string>cheesecake</string>
		<key>status</key>
		<true/>
	</dict>
	<dict>
		<key>icon</key>
		<string>cherry</string>
		<key>status</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>chips</string>
		<key>status</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>donut</string>
		<key>status</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>grapes</string>
		<key>status</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>kiwi</string>
		<key>status</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>pear</string>
		<key>status</key>
		<false/>
	</dict>
	<dict>
		<key>icon</key>
		<string>lemon</string>
		<key>status</key>
		<false/>
	</dict>
</array>
</plist>
